@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer base{  
  .josefin-font{
    font-family: 'Josefin Sans', sans-serif;
  }
  .lora-font{
    font-family: 'Lora', serif;
  }
  .veralaRound-font{
    font-family: 'Varela Round', sans-serif;
  }
  .viewport-hieght{
    height: calc(100vh - 50px);
    background:linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('https://images.pexels.com/photos/8892/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
  }
}